body{
    margin: 0;
    background-color: #F4D4B7;
}
header{
    background-color: #99592A;
    display: flex;
    color: #4D331F;
    padding: 10px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header{
    display: none;
}
.logo_header{
    width: 237px;
    flex: 1;
}
.home_screen{
    display: flex;
    flex-direction: column;
}
.logo_home,.body_home{
    margin: 5rem 3rem;
}
.logo_home{
    
    width: 30.375rem;
}
.body_home{
    display: flex;
    justify-content: space-between;
}


.nav_bar{
    display: flex;
    flex: 4;
    padding: 10px 20px;
    margin-left: auto;
    font-weight: bold;
    justify-content: end ;
    list-style: none;
}
.nav_bar > div{
    padding: 10px 10px;
    text-decoration: underline;
    font-size: 1.2em;
}
#explore-home{
    border-radius: 30px;
    text-align: center;
    font-family: Armata;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 0px 4px 4px 0px #99592A;
    padding: 0.5rem  5rem ;
    cursor: pointer;
    height: 4rem;
    border: 2px solid #4D331F  ;
}
.body_home #paragraph-home{
    margin: 0;
    color: #4D331F;
    text-shadow: 0px 3px 4px #99592A;
    font-family: Armata;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 600px;
    min-width: 300px;
}